.listItems {
    flex-direction: column;
    width: fit-content;
}

.containerListSelector {
    display: flex;
    flex-direction: row;
    margin-left: 15%;
}

.listSelectorProposals {
    margin: 10px;
    width: 40%;
    background-color: white;
    height: 200px;
    overflow: scroll;
}

.listSelector {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    overflow: scroll;
}

.winnerCard {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: lightblue;
    margin-bottom: 10px;
    border-radius: 15px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: blanchedalmond;
    margin-bottom: 10px;
    border-radius: 15px;

}

.cardContainer {
    padding: 2px 16px;
}

.cardName {
    font-size: 20px;
    font-weight: bold;
}

.p-selector {
    color: chocolate;
    padding: 5px;
    border: 1px solid chocolate;
}

.tab-title {
    font-weight: bold;
    font-size: 20px;
    color: orangered;
}

.p-status {
    color: blanchedalmond;
    font-weight: bold;
}

.edit-text {
    height: 20px;
    border-radius: 3px;
    margin: 10px;
}

.edit-button {
    border-radius: 4px;
    padding: 8px;
    background-color: chocolate;
    color: black;
    font-weight: bold;

}

.listProposals {
    background-color: blanchedalmond;
}
