.listItems {
    flex-direction: column;
    width: fit-content;
}

.containerListSelector {
    display: flex;
    flex-direction: row;
    margin-left: 40%;
}

.listSelectorProposals {
    margin: 10px;
    width: 15%;
    background-color: white;
    height: 200px;
    overflow: scroll;
}

.listSelector {
    display: flex;
    flex-direction: column;

}

.p-selector {
    background-color: blanchedalmond;
    color: chocolate;
    padding: 5px;
    border: 1px solid chocolate;
}

.tab-title {
    font-weight: bold;
    font-size: 20px;
    color: orangered;
}

.p-status {
    color: blanchedalmond;
    font-weight: bold;
}

.edit-text {
    height: 20px;
    border-radius: 3px;
    margin: 10px;
}

.edit-button {
    border-radius: 4px;
    padding: 8px;
    background-color: chocolate;
    color: black;
    font-weight: bold;

}

.listProposals {
    background-color: blanchedalmond;
}
